.next
node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENSE
.DS_Store
.vercel
coverage
.eslintcache
public/blog
public/projects
public/partners
public/skills
public/videos
